astropy>=4.3.1
bokeh>=2.4.2
casadata>=2021.8.23
casatasks>=6.3.0.48 # See https://open-bitbucket.nrao.edu/projects/CASA/repos/casalith/browse/build-casalith/python-dependencies/6.4.0-requirements-manylinux-py38.txt
casatools>=6.3.0.48
cngi-prototype>=1.0.1
dask>=2022.01.0
dask-ms>=0.2.6
distributed>=2022.01.0
fsspec>=2022.1.0
gdown>=3.12.2
graphviz>=0.19.1
ipympl>=0.7.0
matplotlib>=3.1.2
nbsphinx==0.8.7
numba>=0.55.1
numba-scipy>=0.3.0
numcodecs>=0.9.1
numpy>=1.21.5
pandas>=0.25.2
pip==21.1.0
pypandoc==1.5
pytest>=6.2.4
python-casacore>=3.4.0
recommonmark==0.6.0
scikit-learn>=0.22.2
scipy>=1.5.4
Sphinx==3.5.4
sphinx-autoapi==1.8.0
sphinx-rtd-theme==0.5.0
toolz>=0.10.0
twine>=3.1.1
xarray>=0.20.2
zarr>=2.10.3
