twine>=3.1.1
bokeh>=2.4.2
dask>=2022.01.0
distributed>=2022.01.0
graphviz>=0.19.1
matplotlib>=3.5.0
numba>=0.55.0
numcodecs>=0.9.1
numpy>=1.22.1
pandas>=0.25.2
scipy>=1.5.4
scikit-learn>=0.22.2
toolz>=0.10.0
xarray>=0.20.2
zarr>=2.10.3
fsspec>=2022.1.0
astropy>=5.0.1
gdown>=3.12.2
ipympl>=0.7.0
pip==21.1.0
nbsphinx==0.8.7
sphinx-autoapi==1.8.0
sphinx-rtd-theme==0.5.0
recommonmark==0.6.0
pypandoc==1.5
Sphinx==3.5.4
pytest>=6.2.4
numba-scipy>=0.3.0
dask-ms>=0.2.6
casatools>=6.3.0.48
casatasks>=6.3.0.48
casadata>=2021.8.23
python-casacore>=3.4.0
astropy>=5.0.1
cngi-prototype>=1.0.1


